//to apply styles to multiple same elements use %, in our case we use btn-... class for a links
//% is a shared element styling, later applied to each of the elements, as a reference link with @extend command

%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;

    &:hover {
        transform: scale(.98);
    }
}

.btn-primary {
    @extend %btn;
    background-color: darken($primary-color, 1%); // lighten or darken functions are used to change color's brightness
}

.btn-secondary {
    @extend %btn;
    background-color: $secondary-color;
}